---
layout: default
categories: [chat]
title: "Chat Layout"
brand_logo: "/clients/BHB/assets/images/chat_banner_white.png"
brand_color: "#6A6DB3"
favicon: "{{ page.client_baseurl }}/assets/images/logo.ico"
permalink: 
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ page.client_baseurl }}/assets/css/custom.css">
</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include chatbar.html %}
</body>
</html> 